<div style="color:tomato" class="nn-block-cart">
    <div style="margin-left:150px" class="nn-top-cart-title">
		<a href="/Cart/Index"><span style="color:tomato;font-size:40px" id="nn-cart-image" class="glyphicon glyphicon-shopping-cart"></span></a>
        <a href="/Cart/Index">
			<span style="color:tomato" id="nn-cart-count"></span><span style="color:tomato">sp</span><b style="color:tomato"> - </b>
			<span style="color:tomato">$<span class="price" id="nn-cart-total"><strong></strong></span></span>
        </a>
    </div>
    <div class="nn-top-cart-content" style="overflow: hidden; display: none;">
        <p class="empty">You have no items in your shopping cart.</p>
        <div class="top-subtotal">Subtotal: <span class="price">$0.00</span></div>
    </div>


</div>