

<form style="margin-left:200px" class="navbar-form navbar-left" role="search" action="/Product/Search_Product">
    <div class="input-group input-group-lg">
        <input style="width:500px" id="search" name="keywords" class="form-control" placeholder="search" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" style="background:tomato"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>